<div class="header">
  <button mat-button routerLink="/" routerLinkActive="active">Home</button>
  <mat-menu> </mat-menu>

  <button mat-button routerLink="/about" routerLinkActive="active">
    About
  </button>
  <mat-menu> </mat-menu>

  <button mat-button routerLink="/contact" routerLinkActive="active">
    Contact
  </button>
  <mat-menu> </mat-menu>

  <button mat-button [matMenuTriggerFor]="afterMenu">Category</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="/smartphone" routerLinkActive="active">
      Smartphone
    </button>
    <button mat-menu-item routerLink="/notebook" routerLinkActive="active">
      Notebook
    </button>
  </mat-menu>
</div>
<router-outlet />
